/* CSS Document */

/* polls Bar Colors/Formats - Follow the format to add your own.
	Then update the maxcolors setting for polls in
	PollXT settings - Results
*/

.contentpane{
	
	background-color: #0B0045;
	background: url('fondo-graficos2.jpg') no-repeat;
	
}


.message {
	width:617px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-align: center;
	top:5px;
}

*.sectiontableheader{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding-left:65px;
	position: absolute;
	top: -20px;
}


*.sectiontableentry1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	
	}


*.sectiontableentry2{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	
}

*.sectiontableentry3{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	
}

.smalldark {
font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 280px;

}

.button {
font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	

}

.polls_color_1{ background-color: #8D1B1B; border: 2px ridge #B22222; }

.polls_color_2{ background-color: #6740E1; border: 2px ridge #4169E1; }

.polls_color_3{ background-color: #318707; border: 2px ridge #D2D2D2; }

.polls_color_4{ background-color: #CC8500; border: 2px ridge #FFA500; }

.polls_color_5{ background-color: #5B781E; border: 2px ridge #6B8E23; }








/* Uncomment the following line, delete the lines above and set maxcolor to 1 */
/* .polls_color_1{ background-image: url(images/red_yellow_green.png); } */

/* polls Outside Table Border */

.pollstableborder {
	border: 0px;
	padding: 2px;
	top:70px;
	left: 100px;
	position:absolute;
	
	
}
/* The separator */
.pollseparator {
    text-align:center;
    border-bottom: solid 1px;
    border-top: solid 1px;
	 }
/* the message window */
div.xtmessage {
	background: #FFCCCC;
	border: 1px solid Red;
	display: none;
	color: Red;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
/* button with individual styling */
#pollxtButton {
	background: url('images/button.png') no-repeat;
	height:40px;
	width: 100px;
	padding-top: 14px;
	text-align: center;
	float:left;
	font-weight:bold;
	cursor:pointer;
}

.pollxtVote {
	color: blue;
}

.pollxtResult {
	color: green;
}

#pollxtTitle {
	
}
#pollxtIntro {
	
}
#pollxtImg {
	
}
#pollxtImgCol {
	float: left;
	padding-right:10px;
}
#pollxtOptCol {
	float: left;
	padding-right:10px;	
}
#pollxtFreeCol {
	float: left;
}
#pollxtLine {
}
