/** IE6 is a hunk of crap!!! don't ask me why this is needed **/

/* PNG FIX FOR IMAGES ONLY */
a#fxTrigger {
	position: relative;
	z-index: 300;
	cursor: pointer;
}

#fxShadow {
	background: none;
}

#the-footer {
	height: 1px;
	width: 98%;
}

img.screenshot {
	position: relative;
}

/* quick hacks for RokMooMenu IE */
#horiz-menu li.sfHover li a.daddy:link,
#horiz-menu li.sfHover li a.daddy:visited {
	background: none;
}

*html .nav li li {
	margin-bottom:-3px;
}

*html .nav li li li {
	margin-bottom:-1px;
}

*+html .nav li li {
	margin-bottom:-3px;
}

*+html .nav li li li {
	margin-bottom:-1px;
}